.gradle
.idea

/local.properties
app/app.iml
.DS_Store
/build

app/google-services.json
app/src/main/assets/
app/src/main/res/drawable-hdpi/logo_app_2x.png
app/src/main/res/drawable-mdpi/logo_app_2x.png
app/src/main/res/drawable-xhdpi/logo_app_2x.png
app/src/main/res/drawable-xxhdpi/logo_app_2x.png

app/src/main/res/drawable-hdpi/logo_credits_lamiaapp.png
app/src/main/res/drawable-mdpi/logo_credits_lamiaapp.png
app/src/main/res/drawable-xhdpi/logo_credits_lamiaapp.png
app/src/main/res/drawable-xxhdpi/logo_credits_lamiaapp.png

app/src/main/res/mipmap-hdpi/ic_launcher.png
app/src/main/res/mipmap-mdpi/ic_launcher.png
app/src/main/res/mipmap-xhdpi/ic_launcher.png
app/src/main/res/mipmap-xxhdpi/ic_launcher.png
app/src/main/res/values/colors.xml
app/src/main/res/values/app_settings.xml

app/yourApp/

*.keystore
*.iml
